%section
  %p A total of #{@job_applicants.count} users applied for this job.

.row
  .col-8
    - @job_applicants.each do |applicant|
      .card
        .card-body
          %h5.card-title= applicant.name
          %p.card-text= applicant.summary
          %a.card-link{href: '#'} Hire
          %a.card-link{href: '#'} Reject
