%nav.navbar.navbar-expand-lg.navbar-light.header_color
  %a.navbar-brand{:href => "#"} WOBB
  %ul.navbar-nav.ml-auto
    - if current_user || current_employer
      %li.nav-item.dropdown
        %a#navbarDropdown.nav-link.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Notifications
        .dropdown-menu
          %a.dropdown-item{:href => "#"} WOBB viewed your profile
          %a.dropdown-item{:href => " #"} WOBB ask you for interviews

      %li.nav-item.dropdown
        %a#navbarDropdown.nav-link.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}= (current_user || current_employer).name
        .dropdown-menu
          %a.dropdown-item{:href => "#"} Dashboard
          %a.dropdown-item{:href => "#"} Log out
