%section
  .card.mb-2
    .card-header
      User Profile
    .card-body
      %h5.card-title Chian Yee
      %p.card-text Age: 30
      %p.card-text Email: leechianyee@gmail.com
      %a.btn.btn-primary{:href => "#"} Update Profile

%section
  .card.mb-2
    .card-header
      Activity
    .card-body
      %p.card-text Jobs Applied: 30
      %p.card-text Jobs Rejected: 10
      %p.card-text Employers Viewed: 200
      %p.card-text Employers Employers: KIV

%section
  .card.mb-2
    .card-header
      Short Summary
    .card-body
      %p.card-text I have 4 years experience in external audit. Now I am learning to be a full stack web developer.