%section.text-center
	.jumbotron.jumbotron-fluid
		.container-fluid
			%h2 Software Engineer
			%h3.py-3 WOBB
			%button.btn.btn-dark{ :type => 'button' } Apply Now

%section.my-3
	%h5 About the Job
	%p We are looking for Field Sales reps to join us in our mission to revolutionise. <br> You will definitely go through trainings with the seniors to learn about WOBB's products and our art of selling. When you are well equipped and ready to spread your wings, you will then go out and make it rain!

%section.my-3
	%h5 Job Requirements
	%p A super high degree of wanting to make money? You must take rejections very well. You never take 'no' for an answer.

%section.my-3
	.row
		.col-6
			%h5 Additional Info
			%ul.list-group
				%li.list-group-item Information Technology
				%li.list-group-item Full-Time
				%li.list-group-item undisclosed
				%li.list-group-item Shah Alam, Selangor

%section.my-3
	%a{ :href => "#" }
		%h5 Company Page
